body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 40px;
}

.footer {
    background-color: #ffffff;
    padding: 20px;
    border-top: 1px solid #dddddd;
    color: #777777;
}

.footer__container {
    display: flex;
    justify-content: space-between;
}

.footer__column {
    flex: 1;
    padding: 0 20px;
}

.footer__heading {
    margin-top: 0;
    color: black;
}

.footer__link {
    color: #777777;
    text-decoration: none;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__bottom {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px 0;
    border-top: 1px solid #dddddd;
    margin-top: 20px;
    color: #777777;
}

.footer__bottom-left {
    display: flex; 
    align-items: center; 
}

.footer__bottom-left .footer__link--agreement {
    margin-right: 0; 
}

.footer__bottom-left .footer__link--policy {
    margin-left: 10px; 
}

.footer__bottom-right {
    text-align: right; 
}

.footer__brand-text {
    font-size: 24px;
    font-weight: 400; 
    color: black; 
}

.footer__list {
    list-style-type: none;
    padding: 0;
}

.footer__list-item {
    margin-bottom: 10px; 
}


/* Медиа для планшетов */

@media (max-width: 768px) {
    .footer__bottom {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer__bottom-left {
        margin-bottom: 10px;
    }

    .footer__bottom-right {
        text-align: left;
    }
}

/* Медиа для мобильных устройств */

@media (max-width: 480px) {
    .footer__container {
        flex-direction: column;
    }

    .footer__column {
        padding: 0;
        margin-bottom: 20px;
    }

    .footer__bottom {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer__bottom-left {
        display: block;
        margin-bottom: 10px;
    }

    .footer__bottom-left .footer__link--policy {
        display: block;
        margin-left: 0;
        margin-top: 5px;
    }

    .footer__bottom-right {
        text-align: left;
    }
}